# Assignment 6 Data Scaling

In [ ]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler
import numpy as np
import pandas as pd

In [4]:
data = pd.DataFrame(data=[[5,5],[10,2],[15,3],[20,4],[25,5]], columns=['A','B'])
data

    A  B
0   5  5
1  10  2
2  15  3
3  20  4
4  25  5

### Min Max Scaler

In [5]:
scalar = MinMaxScaler()
minmax_data = scalar.fit_transform(data)
minmax_data

array([[0.        , 1.        ],
       [0.25      , 0.        ],
       [0.5       , 0.33333333],
       [0.75      , 0.66666667],
       [1.        , 1.        ]])

### Standard Scaler